.page
    height: 100%

.page__body
    min-width: 320px
    width: 100%
    max-width: 1920px
    margin: 0 auto
    font-family: "Montserrat", "Arial", sans-serif
    font-weight: 400
    +font(1rem, calc(27 / 16))
    color: $white
    background-color: $black-1

@media (min-width: $desktop-width)
    .page__body
        position: relative
        &::before
            position: absolute
            content: ''
            top: -19px
            width: 1920px
            height: 100vh
            mask-image: url("../images/svg-sprites/sprite.svg#bg")
            mask-size: 36px 36px
            background-color: $bg-color
            z-index: -1
