// Colors
$gray: #F3F3F3
$bg-color: #2C2C2C

$white: #FFFFFF
$black: #000000
$black-1: #181818
$blue: #0B64FE
$light-blue: #A6FFFF

//Paddings
$xl: 6.125rem // desktop
$xs: 0.9rem // mobile

// Viewports
$desktop-width: 1920px
$mobile-width: 320px
$mobile-width-rem: 20rem
