// Colors
$bg-color: #2C2C2C
$white: #FFFFFF
$black: #000000
$black-1: #181818

//Paddings
$xl: 4rem // tablet
$xs: 0.9rem // mobile

// Viewports
$desktop-width: 1400px
$tablet-width: 1200px
$mobile-width: 320px
$mobile-width-rem: 20rem
